* {
    box-sizing: border-box;
}

.fa-database {
    font-size: xx-large;
    height: auto;
}

mat-card>mat-card-header {
    padding: 2.5px;
}
mat-form-field {
    margin: 15px;
    display: block;
}

button {
    margin: 8px;
}

